@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

.component{
    font-family: 'Public Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1vw;
    height: 10%;
    
}
.searchBar{
    display: flex;
    gap: 3%;
}
.searchBar img{
    margin-top: 6%;
    height: 30%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 6%;
}
.searchBar input{
    border: none;
    outline: none;
    text-align: top;
    font-size: 0.9rem;
}
.searchBar input::placeholder{
    color: rgb(210, 206, 206);
}
.iconsOfSearch{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.profile_data{
    display: flex;
}
.profile_data img{
    height: 50%;
    /* padding-left: 5%; */
}
#johnProfile{
    border-style: none;
    outline: none;
}
.classIcon{
    display: flex;
}
.select-icon{
    cursor: default;
}
.select-icon select{
    width: 8rem;
    border: none;
    outline: none;
}
.component{
    display: flex;
    width: 100%;
    /* position: relative; */
}
.sidePanel{
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s ease-out;
}
.main-heading{
    color: #bbbbbe;
    padding: 4%;
    font-size: 0.8rem;
}
#tezoLogo{
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    justify-content: space-between;
}
.sidepanel-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 250%;
    padding-left: 3%;
}
.sidepanel-text{
    display: flex;
    gap: 5%;  
    align-items: center;
    color: #878889;
    flex-grow: 1;
}
.sidepanel-text a{
    text-decoration: none;
    color: #878889;
}
.dropdown-icon{
    padding: 2%;
    padding-right: 5%;
 }
 .role-style a{
    color: #F44848;
 }
 .role-style1{
    background-color: #FEE9E9;
    border-radius: 5px;
 }
 .role-style img{
    height: 1rem;
 }
.content-list{
    padding: 2%;
    line-height: 200%;
    flex-grow: 1;
    color: #878889;
}
.content-list li{
    padding-left: 4%;
}
.content-list li::marker{
    color: grey;
}
.content-list li a{
    text-decoration: none;
    color: #878889;
}
.department-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F77B7B;
    border-radius: 5px;
}
.department-list:hover{
    background-color: #F7F8F9;
    .content1-list{
        background-color: #F44848;
        color: #ffffff;
    } 
}
.content1-list{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 45%;
    text-align: center;
    width:1.5rem;
    padding: 0.3rem;
    background-color: #FEEEEE;
}
.UIUX-style{
    background-color: #F7F8F9;
    border-radius: 5px;
}
.update-install{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FEF6F6;
    position: absolute;
    padding: 0.5rem;
    padding-bottom: 1rem;
    top: 30rem;
    width: 13rem;
}
.update-install .head-text{
    color: #F55252;
}
.update-install .sub-text{
    color: #B8B8B8;
}
.update-button{
    display: flex;
    justify-content: center;
    gap: 7%;
}
.update-button-1{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FDE6E6;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: none;
    color: #F67070;
    border-radius: 10px;
}
.update-button-1:hover{
    background-color: #F44848;
    color: #ffffff;
}
.dashboard{
    width: 100%;
    height: auto;
    padding-left: 1rem;
}
.role-employee-row{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 0.5rem 1rem;
    align-items: center;
}
.role-data-direction{
    display: flex;
    gap: 0.2rem;
    padding: 0.5rem;
    color: #4C5F71;
}
.role-employee-text{
    font-size: 0.9rem;
    padding: 0.5rem;
    color: #8B97A2;
}
.add-button{
    background-color: #F44848;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.add-button button{
    border: none;
    outline: none;
    background-color: #F44848;
    color: #ffffff;
    font-size: 0.7rem;
}
.role-description{
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}
.role-description div{
    font-size: 1.1rem;
    font-weight: 900;
}
.role-description p{
    color: #8B97A2;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.filter-data{
    background-color: #FDF2F2;
    border: 1px solid #F44848;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-component-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.filter{
    display: flex;
    gap: 1%;
    color: #F44848;
}
.location-button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 5rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #F44848;
}
.location-button button{
    border: none;    
    outline: none;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: #748096;
}
.location-button img{
    height: 1rem;
}
.filter-component-right{
    display: flex;
    gap: 1rem;
}
.reset-button{
    background-color: #ffffff;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
}
.reset-button button{
    color:  #F44848;
    background-color: #ffffff;
    border: none;
    outline: none;
}
.apply-button{
    background-color:#F44848;
    border-radius: 5px;
    width: 3rem;
    padding: 0.4rem;
    border: 1px solid #F44848;
}
.apply-button button{
    color:  #ffffff;
    background-color:#F44848;
    border: none;
    outline: none;
}
.department-button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 6rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #F44848;
}
.department-button button{
    border: none;    
    outline: none;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: #748096;
}
.department-button img{
    height: 1rem;
}
.detail-of-employee{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 23rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.robert-person{
    border: 1px solid #8B97A2;
    padding:1rem;
    padding-top: 2rem;
    border-radius: 5px;
    width: 19.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.robert{
    display: flex;   
    gap: 0.7rem;
    padding-bottom: 1rem;
}
.robert img{
    height: 2rem;
}
.robert-name{
    color: #404040;
    font-size: 1rem;
    padding: 0.2rem;
}
.robert-role{
    color: #606060;
    font-size: 0.8rem;
}
.role-employee-icon{
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: #404040;
    align-items: center;
}
.role-employee-icon1{
    display: flex;
    gap: 0.7rem;
    padding: 0.3rem;
    font-size: 1rem;
    color: #404040;
    align-items: center;
    justify-content: flex-end;
}